.community-members-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
    color: #c1c7d3;
    background-color: #24272b;
}

.community-members-ul {
    display: flex;
    flex-direction: column;
}

.community-members-ul h3 {
    font-size: 14px;
    padding: 1rem 0;
    text-align: center;
    align-self: center;
    border-bottom: .5px solid grey;
    width: 100%;
}

.member-item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.member-item-wrapper:hover {
    background-color: #34393e;
}

.member-item {
    text-decoration: none;
    list-style: none;
}

.member-item {
    text-decoration: none;
    list-style: none;
    padding: .75rem .5rem;
}
