.room-display-wrapper {
    display: flex;
    flex-direction: column;
    border-right: 1px solid lightgray;
    background-color: #070c0c;
    color: #c1c7d3;
    height: 100%;
    width: 65%;
}

.room-heading {
    text-align: center;
    margin-top: .25rem;
}
