.room-display-wrapper {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    background-color: lightgrey;
    height: 100%;
    width: 65%;
}

.room-heading {
    text-align: center;
    margin-top: .25rem;
}
