.page-wrapper {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
}

.home-page-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

.home-page-flex {
    display: flex;
    width: 100vw;
}

