.page-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.home-page-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.home-page-flex {
    display: flex;
    width: 100%;
}
