@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;400&display=swap');

body,
h1,
h2,
h3,
h4,
div,
p,
ul,
li,
a,
form,
label,
input,
button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

body,
div#root {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.landing-page-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.landing-page-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: black;
}

.mobile {
    display: none;
}

.landing-page-right {
    display: flex;
    flex-direction: column;
    border-inline: 1px lightgrey solid;
    height: 100%;
    width: 50%;
}

.landing-left-logo {
    margin: 3rem;
}

.landing-left-image {
    margin: 3rem;
}

.landing-right-flex {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem;
}

.landing-right-flex h1 {
    font-size: 24px;
}

.landing-right-flex form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem 1rem 1rem;
    width: 50%;
}

.landing-right-flex label {
    width: 100%;
}

.landing-right-flex form input {
    font-size: 16px;
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 6px;
    width: 100%;
    margin: .75rem;
}

.landing-right-flex form label, a, button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-right-flex form a {
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 12px;
    padding: .5rem 1rem;
    margin: .5rem;
}

.landing-right-flex form a:hover {
    cursor: pointer;
    color: white;
    background-color: grey;
}

.landing-right-flex form > button {
    width: 100%;
    font-size: 14px;
    border-radius: 12px;
    border: 1px solid lightgray;
    padding: .5rem 1rem;
    margin: .5rem;
}

.landing-right-flex form > button:hover {
    cursor: pointer;
    color: white;
    background-color: grey;
}

.errors {
    display: flex;
    flex-direction: column;
    color: red;
}

@media screen and (max-width: 600px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .landing-page-wrapper {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .landing-page-heading {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: black;
    }

    .landing-left-logo {
        display: none;
    }

    .landing-logo-title {
        display: flex;
        gap: 1.5rem;
    }

    .landing-left-logo.mobile {
        display: block;
        height: 2rem;
        margin: 0;
        width: auto;
    }

    .landing-left-title {
        align-self: flex-end;
        height: 1rem;
        width: auto;
    }

    .landing-page-right {
        width: 100%;
        height: 50%;
    }
}
