@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@300;400&display=swap');

body,
h1,
h2,
h3,
h4,
div,
p,
ul,
li,
a,
form,
label,
input,
button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    font-family: 'Montserrat', sans-serif;
}

body,
div#root {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

.landing-page-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.landing-page-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    background-color: black;
}

.mobile {
    display: none;
}

.landing-page-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-inline: 1px lightgrey solid;
    height: 100%;
    width: 50%;
}

.landing-left-header.desktop {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem;
    padding-bottom: 1rem;
    border-bottom: .25px solid gray;
}

.landing-left-logo.desktop {
    width: 2.5rem;
    height: auto;
    margin-left: 1rem;
}

.landing-left-title.desktop {
    width: 18rem;
    height: 1.5rem;
    margin-top: .25rem;
    margin-left: 3rem;
}

.landing-left-flavor.desktop {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.landing-left-image.desktop {
    max-height: 30rem;
    width: auto;
    animation: 5s iterate 2.5s ease-in-out infinite
}

@keyframes iterate {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.landing-left-flavor-text.desktop {
    margin: 2rem 0;
    color: #8CD6D9;
}

.upper {
    display: flex;
}

.lower {
    display: flex;
}

.landing-left-flavor-text.desktop h2.emphasis.desktop {
    margin-left: .5rem;
    color: #e800a6;
    animation: 5s iterate 2.5s ease-in-out infinite
}

.landing-left-flavor-text > .upper {
    margin-bottom: 1rem;
    margin-left: 3rem;
}

.landing-left-flavor-text > .lower {
    margin-left: 4rem;
}

.landing-right-flex {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    padding: .5rem;
    border: .5px solid lightgray;
    border-radius: 8px;
    box-shadow: 2px 2px 4px grey, -1px 1px 2px grey;
}

.landing-right-flex h1 {
    font-size: 24px;
}

.landing-right-flex form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: .5rem 1rem 1rem;
    width: 80%;
}

.landing-right-flex label {
    width: 100%;
}

.landing-right-flex form input {
    font-size: 16px;
    padding: .75rem;
    border: 1px solid lightgrey;
    border-radius: 6px;
    width: 100%;
    margin: .75rem;
}

.landing-right-flex form label, a, button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.landing-right-flex form a {
    width: 40%;
    color: lightgray;
    background-color: black;
    border: 1px solid lightgrey;
    border-radius: 18px;
    padding: .5rem 1rem;
    margin: .5rem;
}

.landing-right-flex form a:hover {
    cursor: pointer;
    color: white;
    background-color: grey;
}

.landing-right-flex form button {
    width: 40%;
    font-size: 14px;
    border-radius: 18px;
    color: black;
    background-color: #8CD6D9;
    border: 1px solid lightgray;
    padding: .5rem 1rem;
    margin: .5rem;
}

.landing-right-flex form button:hover {
    cursor: pointer;
    color: white;
    background-color: #508385;
}

.new-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-top: .5px solid grey;
    margin-top: .75rem;
    margin-bottom: .5rem;
    padding-top: .5rem;
}

.new-user p {
    font-size: 12px;
    margin: .5rem 0 0;
}

.errors {
    display: flex;
    flex-direction: column;
    color: red;
}

@media screen and (max-width: 600px) {
    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    .landing-page-wrapper {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .landing-page-heading {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: black;
    }

    .landing-left-logo {
        display: none;
    }

    .landing-logo-title {
        display: flex;
        gap: 1.5rem;
    }

    .landing-left-logo.mobile {
        display: block;
        height: 2rem;
        margin: 0;
        width: auto;
    }

    .landing-left-title {
        align-self: flex-end;
        height: 1rem;
        width: auto;
    }

    .landing-page-wrapper.mobile {
        display: flex;
        flex-direction: column;
        background-color: black;
    }
    
    .landing-content.mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        background-color: black;
    }
    
    .landing-page-heading.mobile {
        display: flex;
        align-items: flex-end;
        margin-bottom: 1rem;
        padding-bottom: 1rem;
        border-bottom: .25px solid gray;
    }
    
    .landing-flavor-text.mobile {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
    }
    
    .landing-image.mobile {
        max-height: 18rem;
        width: auto;
        animation: 5s iterate 2.5s ease-in-out infinite
    }
    
    .landing-flavor-text.mobile {
        margin-top: 4rem;
        color: #8CD6D9;
    }
    
    .landing-flavor-text.mobile h2.emphasis.mobile {
        margin-left: .5rem;
        color: #e800a6;
        animation: 5s iterate 2.5s ease-in-out infinite
    }
    
    .landing-flavor-text > .upper {
        display: flex;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    
    .landing-flavor-text > .lower {
        display: flex;
        margin-left: 1rem;
    }
    
    .mobile h2 {
        font-size: 1rem;
    }
    
    .signup-button.mobile {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 3rem 0;
    }
    
    .signup.mobile {
        padding: .4rem;
        border-radius: 24px;
        font-size: 16px;
        font-weight: 600;
        color: #8CD6D9;
        background-color: black;
        border: #8CD6D9 solid;
    }
    
    .signup.mobile:hover {
        color: black;
        background-color: #8CD6D9;
        border: #8CD6D9 solid;
    }
}
