.community-bar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 8%;
    color: #c1c7d3;
    background-color: #1b1e20;
    position: relative;
    z-index: 1;
}

.community-bar-ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
    height: 100%;
    overflow-y: auto;
}

.community-item-wrapper {
    position: relative;
    background-color: #1b1e20;
    color: #c1c7d3;
    margin: .5rem 0 .5rem;
    height: 3.5rem;      
    border-radius: 100px;
    width: 100%;       
    display: flex;
    justify-content: center;
    align-items: center;
}

.community-item {
    position: absolute; 
    display: flex;
    align-items: center;
    height: 100%;      
    width: auto;  
    background-color: #1b1e20;
    color: #c1c7d3;
}

.community-item:hover {
    border-bottom: .5px solid #00ccff;
}

.community-item.selected {
    border-bottom: .5px solid lightgrey;
}

.community-item.selected .image-item {
    border-radius: 18px;
}

.community-item:hover .image-item {
    cursor: pointer;
    color: #dde2ed;
    border-radius: 18px;
}

.community-item:hover .community-actions {
    display: flex;
}

.community-item.selected .community-actions {
    display: flex;
}

.item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 100%;
    margin: 1rem;
}

.item-content button {
    color: #1b1e20;
    background-color: #1b1e20;
    border: none;
}

.item-content button:hover {
    cursor: pointer;
}

.item-content:hover .community-tooltip {
    opacity: 1;
    transform: translateY(-0px);
    visibility: visible;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    transition-delay: 500ms;
}

.community-tooltip {
    visibility: hidden;
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    width: fit-content;
    padding: .25rem 0;
    z-index: 1000;
    font-size: 12px;
    border-radius: 8px;
    background-color: black;
    border: .25px solid grey;
    transform: translateY(0);
    opacity: 0;
    visibility: hidden;
}

.community-actions {
    display: none;
    gap: .25rem;
    align-self: flex-end;
    margin-bottom: .5rem;
}

.navigation {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    max-height: 30%;
    width: 100%;
    z-index: 1;
}

.explore-communities-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.explore-communities-button button {
    margin: 1.5rem 1.5rem 0;
    font-size: 1.7rem;
    padding: .5rem;
    border: 1px solid lightgray;
    border-radius: 2000px;
}

.explore-communities-button button:hover {
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 18px;
}

.new-community-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-community-button button {
    margin: 1.5rem;
    font-size: 1.7rem;
    padding: .5rem;
    border: 1px solid lightgray;
    border-radius: 2000px;
}

.new-community-button button:hover {
    cursor: pointer;
    background-color: lightgrey;
    border-radius: 18px;
}

.community-actions button {
    margin-right: .25rem;
    background-color: inherit;
    border: none;
    font-size: 12px;
}

.community-actions button:hover {
    cursor: pointer;
}

.image-item {
    height: 3rem;
    width: auto;
    border-radius: 1000px;
}

.explore-communities-button:hover .explore.tooltip {
    opacity: 1;
    transform: translateY(-0px);
    visibility: visible;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    transition-delay: 500ms;
}

.new-community-button:hover .explore.tooltip {
    opacity: 1;
    transform: translateY(-0px);
    visibility: visible;
    transition: opacity 300ms ease-in-out, transform 300ms ease-in-out;
    transition-delay: 500ms;
}

.explore.tooltip {
    visibility: hidden;
    position: absolute;
    text-align: center;
    bottom: inherit;
    left: 74%;
    width: 5rem;
    padding: .25rem 0;
    z-index: 1000;
    font-size: 12px;
    border-radius: 8px;
    background-color: black;
    border: .25px solid grey;
    transform: translateY(0);
    opacity: 0;
    visibility: hidden;
}

@media screen and (max-width: 600px) {
    .community-bar-wrapper {
        display: none;
        width: 45%;
    }

}
