.community-rooms-scroll-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 18%;
    border-right: 1px solid black;
    overflow-y: auto;
    overflow-x: hidden;
}

.community-rooms-ul {
    display: flex;
    flex-direction: column;
}

.community-rooms-ul h3 {
    padding: 1rem 0;
    text-align: center;
    align-self: center;
    border-bottom: 1px solid grey;
    width: 90%;
}

.room-item-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.room-item-wrapper:hover {
    background-color: #f0f0f0;
}

.room-item {
    text-decoration: none;
    list-style: none;
    padding: .75rem .5rem;
}

.room-item:hover {
    cursor: pointer;
}

.room-actions {
    display: flex;
    gap: .25rem;
    justify-content: space-around;
}

.new-room-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.new-room-button button {
    margin: 1rem;
    font-size: 14px;
    padding: 8px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

.new-room-button button:hover {
    cursor: pointer;
    background-color: lightgrey;
}

.room-actions button {
    margin-right: .25rem;
    background-color: inherit;
    border: none;
    font-size: 16px;
}

.room-actions button:hover {
    cursor: pointer;
}
