.hidden {
    display: none;
}

.profile-button button {
    text-decoration: none;
    list-style: none;
    background-color: #00ccff;
    border: none;
    border-radius: 2000px;
    font-size: 1.70rem;
    padding: .5rem 0 0;
}

.nav-wrapper {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: flex-end;
    justify-content: space-between;
    height: 6%;
    width: 100%;
    background-color: #2a2a2a;
    padding: .5rem 0;
    margin: 0;
}

.nav-left {
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: 50%;
}

.nav-right button {
    padding-inline: 0;
    padding-block: 0;
}
