.hidden {
    display: none;
}

.profile-button {
    text-decoration: none;
    list-style: none;
}

.nav-wrapper {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: flex-end;
    justify-content: space-around;
    height: 4%;
}
